<ion-view class="align-left" title={{title}} ng-controller="HaltestellenCtrl">
    <ion-nav-buttons side="right">
        <!--<button class="button button-icon icon ion-clock" ng-click=changeDirection()>-->

        </button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <map id="map" center="[51.5327604, 9.9352051]"
             data-tap-disabled="true"
             street-view-control="false"
             map-type-control="false"
             zoom-control="true"
             zoom-control-options="{style:'SMALL', position:'RIGHT_BOTTOM'}">
        </map>

    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-balanced bar-dark">
        <div class="title align-left"
             ng-hide="selected_stop.stop_desc">
            Wählen Sie Ihre Zielhaltestelle
        </div>
        <div class="title align-left"
             ng-show="selected_stop.stop_desc">
            {{selected_stop.stop_desc}}
        </div>
        <a class="button button-icon icon ion-clock"
           ng-show=selected_stop.times
           ng-click=openModal()>
        </a>
    </ion-footer-bar>
</ion-view>