<ion-view class="align-left" title="{{userHint}}" ng-controller="MapCtrl" >
    <ion-nav-bar class="bar-light">
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-arrow-swap" ng-click=swapMarkers()></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <!--header-shrink-twitter-style-->
        <!--scroll-event-interval="5"-->
        <div class="map-wrapper">
            <!--<div scroll="false" data-tap-disabled="true">-->
                <div id="map_canvas"></div>
            <!--</div>-->
        </div>
        <ion-list>
            <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
                <ion-slide>
                    <div class="card">
                        <div id="directions-panel"></div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </ion-list>
    </ion-content>
</ion-view>