<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-merge" menu-toggle="left" ng-click=toggleLeftSideMenu() >
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu
            id="side-menu-left"
            side="left"
            width="100"
            >
        <ion-header-bar class="bar-stable">
            <h1 class="title">Linie</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/haltestelle/11">
                    <span class="badge badge-assertive line-badge line-11">11</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/12">
                    <span class="badge badge-assertive line-badge line-12">12</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/21">
                    <span class="badge badge-assertive line-badge line-21">21</span>

                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/22">
                    <span class="badge badge-assertive line-badge line-22">22</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/23">
                    <span class="badge badge-assertive line-badge line-23">23</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/31">
                    <span class="badge badge-assertive line-badge line-31">31</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/32">
                    <span class="badge badge-assertive line-badge line-32">32</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/33">
                    <span class="badge badge-assertive line-badge line-33">33</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/41">
                    <span class="badge badge-assertive line-badge line-41">41</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/42">
                    <span class="badge badge-assertive line-badge line-42">42</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/50">
                    <span class="badge badge-assertive line-badge line-50">50</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/61">
                    <span class="badge badge-assertive line-badge line-61">61</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/62">
                    <span class="badge badge-assertive line-badge line-62">62</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/71">
                    <span class="badge badge-assertive line-badge line-71">71</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/72">
                    <span class="badge badge-assertive line-badge line-72">72</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/73">
                    <span class="badge badge-assertive line-badge line-73">73</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/80">
                    <span class="badge badge-assertive line-badge line-80">80</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/91">
                    <span class="badge badge-assertive line-badge line-91">91</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestelle/92">
                    <span class="badge badge-assertive line-badge line-92">92</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/haltestellen">
                    <span class="badge badge-assertive line-badge line-33">Alle</span>
                </ion-item>


            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
