<ion-modal-view>
    <ion-header-bar>
        <h1 class="survey title">{{surveyData.title}}</h1>
    </ion-header-bar>

    <!--<ion-scroll>-->
    <ion-content>
        <form name="surveyFormYo"
              novalidate
              ng-submit="submitSurvey">
            <div class="list" ng-repeat="q in surveyData.questions track by q.id">

                <div class="item item-text-wrap">
                    <h2 class="survey question">{{q.text}}</h2>
                </div>

                <div ng-if='q.options.length > 0'>
                    <label class="item item-radio survey survey-radio" ng-repeat="o in q.options">
                        <input type="radio" name={{q.text}} ng-model="answers[q.id]" value={{o}}"/>

                        <div class="item-content survey answer answer-choice">
                            {{o}}
                        </div>
                        <i class="radio-icon ion-checkmark-round"></i>
                    </label>
                </div>
                <div ng-if='q.options.length == 0'>
                    <label class="item item-input survey answer answer-free">
                        <i class="icon ion-arrow-right-c placeholder-icon"></i>
                        <input type="number" placeholder="Bitte geben Sie eine Zahl an." ng-model="answers[q.id]">
                    </label>
                </div>

            </div>

            <input type="submit"
                   style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                   tabindex="-1" ng-click=submitSurvey(answers)>

            <!--<button class="button button-block button-stable" ng-click=submitSurvey(answers)><i-->
            <!--class="icon ion-checkmark-circled"></i> abschicken</button>-->
            <!--<div class="padding"></div>-->
        </form>
    </ion-content>
    <!--</ion-scroll>-->

    <!--<ion-footer-bar class="bar bar-footer bar-positive" ng-click=submitSurvey(answers)>-->
    <ion-footer-bar class="bar bar-footer bar-calm" ng-click=submitSurvey(answers)>
        <h1 class="title">{{surveyData.description}}</h1>

        <div class="buttons">
            <button class="button button-icon ion-play"></button>
        </div>
    </ion-footer-bar>
</ion-modal-view>