#map-content > .scroll {

  height: 100%;

  &.second-stage {
    height: initial;
  }
}

#map-content.scroll-content {
  z-index: 11;
}

$map-list-ratio: 0.90;
@function mapPaddingBottom($pixels) {

  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @return $pixels * $map-list-ratio;
}

.map-wrapper {
  //position: relative;
  //overflow: hidden;
  //padding-top: 44px;
  width: 100%;
  height: 100%;

  &.second-stage {
    position: relative;
    //height: auto;

    //@media screen and (max-height: 480px) {
    //  padding-bottom: mapPaddingBottom(440);
    //}
    @media screen and (min-height: 320px) {
      //padding-bottom: 350px;
      padding-bottom: mapPaddingBottom(240);
    }
    @media screen and (min-height: 480px) {
      //padding-bottom: 350px;
      padding-bottom: mapPaddingBottom(400);
    }
    @media screen and (min-height: 560px) {
      //padding-bottom: 470px;
      padding-bottom: mapPaddingBottom(490);
    }
    @media screen and (min-height: 660px) {
      //padding-bottom: 470px;
      padding-bottom: mapPaddingBottom(570);
    }
    @media screen and (min-height: 730px) {
      //padding-bottom: 720px;

      padding-bottom: mapPaddingBottom(640);
    }
    @media screen and (min-height: 800px) {
      //padding-bottom: 720px;
      padding-bottom: mapPaddingBottom(800);
    }
    @media screen and (min-height: 1100px) {
      //padding-bottom: 1010px;
      padding-bottom: mapPaddingBottom(1100);
    }

  }
}

#map_canvas {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  position: absolute;

  &.second-stage {
    position: absolute;
  }

}

//.map-wrapper.second-stage-add{
//  height: initial;
//  opacity: 0.4;
//}
//
//.map-wrapper.second-stage-add-active{
//  height: initial;
//  opacity: 0.4;
//}

// Controls Styling
.currentLocationControl {
  padding-right: 10px;
  padding-bottom: 64px;
  position: fixed !important;
  bottom: 0;
  left: initial !important;
  right: 0;

}

.currentLocationcontrolUI {
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 34px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  cursor: pointer;
  text-align: center;
  width: 44px;
  height: 44px;
}

.controlTextUI {
  color: rgb(25, 25, 25);
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 44px;
  padding-left: 5px;
  padding-right: 5px;
}

.customDirectionsControl {
  padding-right: 10px;
  padding-bottom: 10px;
  position: fixed !important;
  bottom: 0;
  left: initial !important;
  right: 0;

}

.customDirectionsControlUI {
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 34px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  cursor: pointer;
  text-align: center;
  width: 44px;
  height: 44px;
}

// hide google maps stuff

#map_canvas > .gm-style > div:nth-child(2) {
  display: none !important;
}

#map_canvas > .gm-style > .gmnoprint {
  display: none !important;
}

#map_canvas > .gm-style > .gmnoscreen {
  display: none !important;
}

#map_canvas > .gm-style > .gm-style-cc {
  display: none !important;
}

.view-link, .gm-rev, .gm-phone, .gm-website {
  display: none !important;
}

[jsdisplay*="transit.line && transit.line.agencies"] {
  display: none;
}

[jsdisplay*="line.agencies"] {
  display: none;
}

.labels {
  color: white;
  background-color: red;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  text-align: center;
  width: 10px;
  white-space: nowrap;
}